.home{
    text-align: center;
    font-size: 50px;
}

.top-rated, .upcoming, .now-playing{
    padding: 0px 40px 40px 40px;
    display: grid;
    grid-template-columns: repeat(5, 2fr); 
    gap: 40px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.card-home-latest{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.affiche-home{
    width: 200px;
}

.box-tp, .box-uc, .box-np{
    backdrop-filter: blur(100px);
    background-color:rgba(255,255,255, .3);
    border-radius: 10px;
}


.page{
    padding: 60px 40px 40px 40px;
    display: grid;
    grid-template-columns: repeat(1, 2fr); 
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.card-home{
    /* backdrop-filter: blur(10px); */
    background-color:rgba(255,255,255, .1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}


.box-lm{
    width: 300px;
    backdrop-filter: blur(100px);
    background-color:rgba(255,255,255, .3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.title-home{
    font-size: 15px;
    text-align: center;
}

.title-latest{
    font-size: 15px;
    text-align: center;
}

.button-home{
    margin-top: 10px;
    border: 1px solid rgba(7,3,53,1);
    background-color: rgba(7,3,53,1);
    color: white;
    align-self: center;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;    
    display: block;
    justify-content: center;
    margin-left: 45%;
    margin-bottom: 50px;
}

.page h2{
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
}

.description {
    font-size: 12px;
}
